<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/vinvin.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            
             
          <div class="card text-white bg-dark mb-3"  >
                <div class="card-header" style="font-weight: bold;font: italic; ">Get in touch with us, we are happy to assist you </div>   
                <!-- <i class="nc-icon nc-mobile"></i> -->
                <div class="card-body">
                  <i class="fa fa-map-marker"></i><p><span> Pecunia Bank, 21 Revolution Street, </span>Bangalore,India</p>
                 </div>
                 
                <div>
                  <i class="fa fa-phone"></i>
                  <p>800-500</p>
                  </div>
                
                  <div>
                  <i class="fa fa-envelope"></i>
                  <p><a href="mailto:support@company.com">contact@pecunia.com</a></p>
                  </div>
              </div>
              </div>
             </div>
              <div>
               