<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/bankim.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            
             
              <div class="card text-dark bg-info mb-3" style="max-width: 32rem;align-content: center;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">Info card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              
              </div>
            
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        