

<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/mone2.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                   
                </div>

                <h1 class="presentation-subtitle text-center" style="color: rgb(209, 209, 235);">Your perfect banking partner!!!!!!</h1>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        
       
    </div>
    
    
    <div class="row row-cols-1 row-cols-md-2 g-4" style="background-image: url('assets/img/mone2.jpg')" >
        <div class="col" >
          <div class="card col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin: 0 auto; 
          float: none; 
          margin-bottom: 10px;margin-left: 311px; ">
            <img src="assets\img\car.jpg" class="card-img-top" style="height: auto;"alt="...">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 500;" >Car Loan</h5>
              <p class="card-text">Dreaming of owning a car? Our Car Loan aims to ensures that you drive around the city in your own vehicle! Avail a car loan, or opt for a pre-approved car loan, and get the best interest rates. Pecunia Bank’s New Car Loan offers car loans from Rs. 1 Lakh upto 100% on-road price along with benefits.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img src="assets\img\ploan.jpg" class="card-img-top"style="height: auto;" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 500;">Personal Loan</h5>
              <p class="card-text"> Personal Loans can be used for plenty of purposes! They can be availed when you are planning a vacation, renovating your home or arranging a dream wedding for yourself or somebody special in the family.  You can get a Personal Loan from Rs. 50,000 upto Rs. 15,00,000 with minimal documentation and speedy approval</p>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin: 0 auto; 
          float: none; 
          margin-bottom: 10px; margin-left: 311px;">
            <img src="assets\img\gold.jpg" class="card-img-top" style="height: auto;"alt="...">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 500;">Gold Loan</h5>
              <p class="card-text">Have an urgent need for cash , Now you can use your gold to avail a Gold Loan starting from Rs. 25,001 upto Rs. 25,00,000. Pecunia Bank Gold Loans provide loan against gold with same day loan disbursement.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img src="assets\img\h1.jpg" class="card-img-top" style="height: auto;" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 500;">Home Loan</h5>
              <p class="card-text">Our affordable and flexible home loans are designed to take you closer to your dream home.We also provide you with legal and technical counselling to help you make the right home buying decision. </p>
            </div>
          </div>
        </div>
      </div>
    
</div>
               
                         