<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/bankim.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                   
                </div>

                <h1 class="presentation-subtitle text-center" style="color: rgb(209, 209, 235);">Your perfect banking partner!!!!!!</h1>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        
    </div>
    
   
                  
                         